.loginContainer{
    width: 400px;
    position: relative;
    margin: 50px auto;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.main-content{
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 8em auto;
	display: flex;
}
.company__info{
	background-color: #d538ff;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#d538ff;
}
.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #d538ff;
	box-shadow: 0 0 5px rgba(27, 125, 253, 0.4);
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#d538ff;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #d538ff;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: #d538ff;
	color:#fff;
}

.alertShow{

    overflow: hidden;
    position: fixed;
    bottom: 0px;
    width: 35%;
    /* margin-left: 332px; */
    background: red;
    color: white;
    border-radius: 20px;
    font-family: initial;
    box-shadow: 0 15px 35px rgb(0 0 0 / 50%);
}


.successAlertShow{
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    width: 35%;
    /* margin-left: 332px; */
    background: #28a745;
    color: white;
    border-radius: 20px;
    font-family: initial;
    box-shadow: 0 15px 35px rgb(0 0 0 / 50%);
}

.main-content-div{
	width: 570px;
	margin-left: -105px;
}

.rowDiv{
	flex-direction: column-reverse;
	margin-top: 11px;
}

.form-group-div{
	flex-direction: column-reverse; 
}

.loginDivRow{
	margin-left: 31px;
}